@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

a {
  @apply text-accent underline-offset-4 transition-colors;
}

a:hover {
  @apply text-accentSecondary;
}

@layer base {
  :root {
    --background: 29 57% 93%;
    --foreground: 96 5% 18%;
    --card: 22 73% 97%;
    --card-foreground: 96 5% 18%;
    --popover: 22 73% 97%;
    --popover-foreground: 96 5% 18%;
    --primary: 9 86% 54%;
    --primary-foreground: 29 57% 93%;
    --secondary: 18 25% 84%;
    --secondary-foreground: 96 5% 18%;
    --muted: 18 25% 84%;
    --muted-foreground: 84 4% 25%;
    --accent: 9 86% 54%;
    --accent-foreground: 29 57% 93%;
    --destructive: 9 86% 44%;
    --destructive-foreground: 29 57% 93%;
    --border: 18 25% 84%;
    --input: 18 25% 84%;
    --ring: 9 86% 54%;
    --chart-1: 9 86% 54%;
    --chart-2: 12 87% 57%;
    --chart-3: 14 87% 60%;
    --chart-4: 96 5% 18%;
    --chart-5: 84 4% 25%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 29 57% 93%;
    --foreground: 96 5% 18%;
    --card: 22 73% 97%;
    --card-foreground: 96 5% 18%;
    --popover: 22 73% 97%;
    --popover-foreground: 96 5% 18%;
    --primary: 9 86% 54%;
    --primary-foreground: 29 57% 93%;
    --secondary: 18 25% 84%;
    --secondary-foreground: 96 5% 18%;
    --muted: 18 25% 84%;
    --muted-foreground: 84 4% 25%;
    --accent: 9 86% 54%;
    --accent-foreground: 29 57% 93%;
    --destructive: 9 86% 44%;
    --destructive-foreground: 29 57% 93%;
    --border: 18 25% 84%;
    --input: 18 25% 84%;
    --ring: 9 86% 54%;
    --chart-1: 9 86% 54%;
    --chart-2: 12 87% 57%;
    --chart-3: 14 87% 60%;
    --chart-4: 96 5% 18%;
    --chart-5: 84 4% 25%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply font-sans antialiased;
  }
}
